@charset "UTF-8"

body { background-image: https://krpracticeaccount.github.io/Practice/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}